:root {
    font-size: 62.5%;
}

#name {
    margin-left: 5%
}

h2 {
    font-size: 2.4rem;
    line-height: 1.5;
    font-family: sub-headers, sans-serif;
}

.project-description {
    font-size: 1.4rem;
    color: aliceblue;
}

main {
    /* margin-top: 60px; */
    width: 100%;
    height: calc(133vh);
    background-image: url(darkBrick.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-content: center;
}

#main-container {
    margin-top: calc(60px + 4%);
    height: calc(80vh - 60px - 10%);
    width: 70%;
    margin-left: 10%;
    justify-content: center;
    background-image: url(png.png);
    background-size: 50vh;
    background-repeat: no-repeat;
    background-position-y: 60%;
    background-position-x: 85%;
}

.main-name {
    width: fit-content;
    height: fit-content;
    display: block;
    position: relative;
    margin-left: 15%;
    margin-top: 6%;
}

.main-intro {
    padding-left: 4px;
    border-left: 2px solid orange;
    width: fit-content;
    color: white;
    height: fit-content;
    position: absolute;
    margin-left: 17%;
    margin-top: 5%;
}

em {
    color: orange;
}

#tr-design {
    display: flex;
    height: 2px;
    width: 150px;
    background-color: rgba(255, 255, 255, 0.800);
    float: left;
}

#tr-design2 {
    display: flex;
    height: 150px;
    width: 2px;
    background-color: rgba(255, 255, 255, 0.800);
    float: left;
}

#ft-project-container {
    padding-top: 10px;
    height: 240px;
    width: 100%;
    display: flex;
    position: absolute;
    margin-top: 96vh;
}

#ft-project-header {
    margin-top: 90vh;
    font-family: 'project-headers', sans-serif;
    color: rgba(255, 255, 255, 0.800);
    height: fit-content;
    margin-left: 6%;
    display: flex;
    margin-left: -70vw;
}

#ft-project-holder {
    margin-top: 10px;
    padding: 0px 5%;
    height: 300px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.ft-project {
    width:200px;
    height: fit-content;
    border-radius: 10px;
    padding: 4px;
    background-color: rgb(97, 91, 85);
}

.ft-project:hover {
    zoom: 105%;
    cursor: pointer;
}

#aboutme-container {
    padding-top: 10px;
    height: 100vh;
    width: 100%;
    display: flex;
    position: absolute;
    margin-top: 130vh;
    background-image: url(darkBrick.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid red;
} 

#aboutme-heading-container {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: left;
    margin-left: 150px;
    margin-top: 20px;
}

#aboutme-heading {
    font-family: 'project-headers', sans-serif;
    color: rgba(255, 255, 255, 0.800);
    height: fit-content;
    display: flex;
}

#aboutme-description-container {
    position: absolute;
    height: 80vh;
    width: 100%;
    border: 1px solid yellow;
    display: flex;
    flex-direction: column;
    margin-top: 89px;
}

#aboutme-list {
    color: white;
    font-size: 2rem;
    line-height: 1.4;
}


/*-------------------------------------------------------------------*/

@media only screen and (max-width: 600px) and (orientation: portrait) {

}

@media only screen and (max-width: 600px) and (orientation: landscape) {

}

@media only screen and (min-width: 600px) and (max-width: 768px) {

}
