@font-face {
    font-family: project-headers;
    src: url(fonts/FiraSans-MediumItalic.ttf);
}

#ft-project-header {
    font-family: 'project-headers';
    color: aliceblue;
    width: fit-content;
    margin-left: 6%;
    margin-top: 70px;
    display: flex;
    font-size: xx-large;
}

#ft-project-holder {
    margin-top: 10px;
    padding: 20px 5%;
    height: 300px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px 20px;
}

.ft-project {
    min-width: 200px;
    max-width:200px;
    height: fit-content;
    border-radius: 10px;
    padding: 4px;
    background-color: orange;
}

.ft-project:hover {
    background-color: rgb(41, 41, 193);
    cursor: pointer;
}

#project-header {
    font-family: 'project-headers';
    color: aliceblue;
    width: fit-content;
    margin-left: 6%;
    margin-top: 50px;
    display: flex;
    font-size: x-large;
}

#project-holder {
    margin-top: 10px;
    padding: 20px 5%;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px 20px;
}

.project {
    min-width: 150px;
    max-width:150px;
    height: fit-content;
    background-color: rgb(255, 209, 124);
    border-radius: 10px;
    padding: 4px;
    display: block;
}

.project:hover {
    background-color: orange;
    cursor: pointer;
}
